// SPDX-License-Identifier: GPL-2.0+ OR X11
/*
 * Device Tree file for Arturus Layerscape-1012A family SoC.
 *
 * Copyright 2016-2020, Arcturus Networks, Inc.
 */

/include/ "fsl-ls1012a.dtsi"

/ {
	model = "uCLS1012A-SOM Board";
	aliases {
		spi0 = &qspi;
	};
};

&qspi {
	bus-num = <0>;
	status = "okay";
	u-boot,dm-pre-reloc;
	reg = <0x0 0x1550000 0x0 0x10000>,
	      <0x0 0x40000000 0x0 0x8000000>;
	reg-names = "QuadSPI", "QuadSPI-memory";
	qflash0: n25q00a@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		u-boot,dm-pre-reloc;
		compatible = "n25q00a", "jedec,spi-nor";
		reg = <0>;      /* chip select */
		spi-max-frequency = <20000000>;
		m25p,fast-read;
	};
};

&i2c0 {
	status = "okay";
	adt7461a@4c {
		compatible = "adi,adt7461a";
		reg = <0x4c>;
	};
};

#define CONFIG_SYS_I2C_NCT72_ADDR	0x4C

&duart0 {
	status = "okay";
};
