CONFIG_ARM=y
CONFIG_TARGET_UCLS1012A=y
CONFIG_SUBTARGET_SOM=y
CONFIG_SYS_EXTRA_OPTIONS="QSPI_BOOT"
# CONFIG_CMD_IMLS is not set
# CONFIG_FSL_LS_PPA is not set
CONFIG_SYS_NS16550=y
CONFIG_DEFAULT_DEVICE_TREE="arc-ucls1012a"
CONFIG_OF_CONTROL=y
CONFIG_DM=y
CONFIG_SPI_FLASH=y
CONFIG_SPI_FLASH_128M=y
# CONFIG_SPI_FLASH_USE_4K_SECTORS is not set
CONFIG_SPI_FLASH_NOBAR=y
CONFIG_DM_SPI=y
CONFIG_FIRM_ADDR1=0x40000
CONFIG_FIRM_ADDR2=0x40800
CONFIG_SYS_PROMPT="B$ "
CONFIG_AUTOBOOT_KEYED=y
CONFIG_AUTOBOOT_PROMPT="Autobooting in %d seconds, press \"<Esc>\" to stop\n"
CONFIG_AUTOBOOT_STOP_STR="\x1b"
