if TARGET_UCLS1012A

config SYS_BOARD
	default "ucls1012a"

config SYS_VENDOR
	default "Arcturus"

config SYS_SOC
	default "fsl-layerscape"

config SYS_CONFIG_NAME
	default "UCLS1012A"

choice
	prompt "SubTarget image select"

config SUBTARGET_SOM
	bool "Base UCLS1012A-SOM image"

config SUBTARGET_SOM120
	bool "Base UCLS1012A-SOM120 image"

config SUBTARGET_SOM314
	bool "314 SOM Host"

config SUBTARGET_DONGLE
	bool "UCLS1012A-SOM image for Programming Dongle"

endchoice

config SPI_FLASH_128M
	bool "128MBytes QSPI"
	def_bool y

config HX3_HUB_INIT
	bool "Init HX3 USB HUB"
	def_bool y

config FIRM_ADDR1
	hex "Firmware Env Base address 1"
	default 0x1C0000

config FIRM_ADDR2
	hex "Firmware Env Base address 2"
	default 0x1D0000

config BOARD_REVISION_BASE
	hex "Board Revision Base address"
	default 0x4000002C

config SYS_LS_PFE_FW_ADDR
	hex "Flash address of PFE firmware"
	default 0x40020000

config SYS_LS_PFE_FW_LENGTH
	hex "length of PFE firmware"
	default 0x40000

config SYS_LS_PPA_FW_ADDR
	hex "PPA Firmware Addr"
	default 0x40060000

config SYS_LS_PPA_ESBC_ADDR
	hex "PPA Firmware HDR Addr"
	default 0x401f4000

config SYS_LS_PFE_ESBC_ADDR
	hex "PFE Firmware HDR Addr"
	default 0x401f8000

config SYS_LS_PFE_ESBC_LENGTH
	hex "length of PFE Firmware HDR"
	default 0xc00

config BOARD_SPECIFIC_OPTIONS # dummy
	def_bool y
	select PHYLIB
	imply PHY_ATHEROS

config DDR_PFE_PHYS_BASEADDR
	hex "PFE DDR physical base address"
	default 0x03800000

config DDR_PFE_BASEADDR
	hex "PFE DDR base address"
	default 0x83800000

config PFE_EMAC1_PHY_ADDR
	hex "EMAC1 phy address"
	default 0x4

config PFE_EMAC2_PHY_ADDR
	hex "EMAC2 phy address"
	default 0x5

source "board/freescale/common/Kconfig"

endif
